body {
  padding-top: 50px!important;
}

.quantity-input {
  border-radius: 2px;
  border: 1px solid #000;
  padding: 6px;
  width: 84px!important;
}

.total {
    width: 100%;
    text-align: right;
}

.caption {
  text-align: center;
}

.observacao-box {
  float: right;
  padding-bottom: 20px;
}

.order-desc {
  color: #B22222;
}

.row h4 {
  padding-left: 15px;
}

.col-5 {
  width: 20%!important;
}

.col-5 .thumbnail {
  height: 375px;
}

#totais-geral  {
  float: left;
  padding-bottom: 30px;
}

.row {
  padding-bottom: 30px;
}
